/* COMMON */

a{
  text-decoration: none;
  color: black;
}

/* HEADER */

header {
  background-color: #fff;
  border-bottom: 1px solid royalblue;
  height: 120px;
  width: 1530px;
  position: relative;
}

header .inner{
  position: relative;
  left : 140px;
  height: 130px;
  display: flex;
  align-items: center;
  margin-left : 20px;
  width:1200px;
}

header .mark{
  position: absolute;
  background-image: url("../images/mark.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 140px;
  height: 130px;
  top: 10px;
  margin-left : 20px;
}

header .inner .introduce_author{ 
  margin-left : 150px;

}

header .inner .introduce_designer{
  margin-left : 200px;
}

header .inner .introduce_character{
  margin-left : 200px;
}

header .inner .introduce_author,
header .inner .introduce_designer,
header .inner .introduce_character{
  color : black;
  font-size : 36px;
  font-weight: 700;
}

header .inner .introduce_author:hover,
header .inner .introduce_designer:hover,
header .inner .introduce_character:hover{
  transform: scale(1.08);
  font-style: italic;
}

.Illustrator{
  position:fixed;
  width : 360px;
  height : 632px;
  background-color: skyblue;
  border: 1px solid royalblue;
}

.Illustrator .inner{
  position: relative;
}

.Illustrator .inner .paint{
  background-image: url('../images/표지_220705_083655_0.png');
  border : 1px solid black;
  position: absolute;
  top: 30px;
  left: 32px;
  width: 290px;
  height : 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.Illustrator .inner .explain{
  position : absolute;
  top: 440px;
  left : 21px;
}

.Illustrator .inner .explain .name{
  margin-top: 10px;
  font-size: 32px;
  font-weight: 600;
}

.Illustrator .inner .explain .story{
  margin-top: 16px;
  font-size : 16px;

}

.part{
  position : relative;
  left : 362px;
  background-color: #fff;
  width: 1160px;
  height: 610px;
}

.part_button{
  border-radius: 4px;
  font-size : 21px;
  font-weight: 600;
  text-align: center;
  width : 200px;
  height : 25px;
  background-color: rgb(190, 189, 189);
}

.part_button:hover{
  background-color: #fff;
  border : 1px solid gray;
  cursor : pointer;
}
.part .part1{
  position : absolute;
  top: 20px;
  left : 20px; 
}

.part .part2{
  position : absolute;
  top: 60px;
  left : 20px; 
}

.part .part3{
  position : absolute;
  top: 100px;
  left : 20px; 
}

.part .part4{
  position : absolute;
  top: 140px;
  left : 20px; 
}


.part .part5{
  position : absolute;
  top: 180px;
  left : 20px; 
}


.part .part6{
  position : absolute;
  top: 220px;
  left : 20px; 
}

.part .part7{
  position : absolute;
  top: 260px;
  left : 20px; 
}

.part .part8{
  position : absolute;
  top: 300px;
  left : 20px; 
}

.part .part9{
  position : absolute;
  top: 340px;
  left : 20px; 
}

.part .part10{
  position : absolute;
  top: 380px;
  left : 20px; 
}

.part .part11{
  position : absolute;
  top: 420px;
  left : 20px; 
}

.part .part12{
  position : absolute;
  top: 460px;
  left : 20px; 
}